// Ecrire les variables personnalisées ici :
$theme-colors: (
  "primary": rgba(219, 92, 61, 1),
  "secondary": rgba(18, 41, 50, 1),
  "light": rgba(243, 239, 245, 1),
  "light-semi-transparent": rgba(243, 239, 245, 0.8),
  "light-transparent": rgba(243, 239, 245, 0.3),
  "dark": rgba(64, 63, 76, 1),
  "black": rgba(19, 27, 35, 1)
);

// Pour les champs input :
$input-border-radius: none;
$input-border-radius-lg: none;
$input-border-radius-sm: none;

// Spacing css hors Bootstrap (sur la base de 1rem = 10px)
:root {
  --spacing-lg: 20px;
  --spacing-md: 10px;
  --spacing-sm: 5px;
  --spacing-xs: 2px;
}

// Fonts
$font-size-base: 1rem;

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("../font/Lora/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Caveat";
  src: url("../font/Caveat/Caveat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../font/Alegreya_Sans/AlegreyaSans-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: Alegreya Sans;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--light);
}

h1 {
  font-family: Caveat;
}

h2 {
  font-family: Caveat;
}

p {
  font-family: Alegreya Sans;
}

// Style de la topBar qui s'affiche sur plusieurs pages
.topBar {
  position: fixed;
  z-index: 1;
  background-color: var(--black);
  width: calc(100% - 2 * var(--spacing-md));
  padding-bottom: var(--spacing-md);
}

// Exemple de personnalisation des variables :
/*
$theme-colors: (
  'primary': #003d8e,
  'secondary': #e85e0e,
  'danger': #e8270e,
  'light': #f1f7ff,
  'dark': #003d8e,
);

//Enlève le border-radius sur les boutons :
$btn-border-radius: none;
$btn-border-radius-lg: none;
$btn-border-radius-sm: none;

$font-size-base: 1rem;
$h3-font-size: $font-size-base * 1.25;

$spacer: 1rem !default;

$spacers: (
  6: (
    $spacer * 4,
  ),
);
*/
